@import '../assets/fonts/fonts.css';

.router{
    font-family: 'Futura', cursive;
    font-weight: 400;
}
.d-flex{
    font-family: 'Futura', cursive;
    font-weight: 400;
}

*:not(.btn){
    font-family: 'Futura', cursive;
    font-weight: 400;
}